@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fffaf0;
  --color-primary: #9ec376;
  --color-secondary: #da5935; 
  --color-third: #5a3413;
  --color-sparkle: #f6c940;
  --color-border: #7a4e1d; 
}

@layer base {
  body {
    @apply font-sans bg-background text-third;
      margin: 0;
  }
}
