@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  // line-height: 1.5;
  // font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  background-color: #1e1c1c;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  --color-background: #fffaf0;
  --color-primary: #9ec376;
  --color-secondary: #da5935; 
  --color-third: #5a3413;
  --color-sparkle: #f6c940;
  --color-border: #7a4e1d; /* Behövs denna?*/
}

@layer base {
  body {
    @apply font-sans bg-background text-third;
      margin: 0;
      display: flex;
      place-items: center;
      min-width: 320px;
      min-height: 100vh;
  }
}
